<%= time_ago_in_words(comment.created_at) %> ago
<br/>
<% edit_history = comment.edit_history == '' ? '' : 'Last edit ' + time_ago_in_words(comment.updated_at) + ' ago' %>
<%= link_to(edit_history, 'javascript:;', data: {toggle: 'modal', target: '#edit_history'}) %>