<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">About Me</h1>

    <div class="row">
      <p style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Nec ultrices dui sapien eget mi proin sed libero. Fringilla phasellus faucibus scelerisque
        eleifend donec pretium. Turpis egestas integer eget aliquet nibh praesent tristique magna. Magna fringilla urna
        porttitor rhoncus dolor purus non enim praesent. Dictum sit amet justo donec enim diam. Sit amet cursus sit amet
        dictum sit amet justo. Euismod quis viverra nibh cras pulvinar. Ultricies integer quis auctor elit sed vulputate
        mi sit. Dui vivamus arcu felis bibendum ut. Eget magna fermentum iaculis eu non diam phasellus vestibulum.
        Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Cursus turpis massa tincidunt dui ut ornare.
        <br/><br/>
        Dui vivamus arcu felis bibendum ut. Eget magna fermentum iaculis eu non diam phasellus vestibulum.
        Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Cursus turpis massa tincidunt dui ut ornare.
      </p>
      <hr class="my-4"/>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" onclick="window.location.href = 'https://gitlab.com/ivanstanul/';" class="btn btn-secondary">GitLab</button>
      <button type="button" onclick="window.location.href = 'https://twitter.com/ivanstanul';" class="btn btn-secondary">Twitter</button>
      <button type="button" onclick="window.location.href = 'https://www.goodreads.com/user/show/62833868-ivan';" class="btn btn-secondary">Goodreads</button>
      <button type="button" onclick="window.location.href = 'https://steamcommunity.com/id/the_tired_one/';" class="btn btn-secondary">Steam</button>
    </div>
    <div style="padding-top:40px">
      <h1 class="display-5">For You</h1>

      <div class="d-flex ">
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
          <div class="card-header">Forecast</div>
          <div class="card-body">
            <p class="card-text">Your country: <%= @country %></p>
            <p class="card-text">Your city: <%= @city %></p>
            <p class="card-text">Current weather: <%= @c_des %></p>
            <p class="card-text">Current temperature: <%= @c_temp %></p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>