<div class="card border-success mb-3" style="max-width: 60rem;">
  <div class="card-header">Email sent</div>
  <div class="card-body">
    <h4 class="card-title">Thanks for reaching out</h4>
    <p class="card-text">Give me few hours and I'll get back to you!</p>
  </div>
</div>
