<div class="jumbotron">
  <h1>Write me an mail</h1>
  <fieldset>
    <%= form_for @contact do |f| %>
      <%= f.label :"Your name", class: 'col-form-label' %> <br>
      <%= f.text_field :name, placeholder: "Your name",
                       class: "form-control", required: true %>
      <br>

      <%= f.label :"Email address", class: 'col-form-label' %> <br>
      <%= f.email_field :email, placeholder: "Your email",
                        class: "form-control", required: true %>
      <small id="emailHelp" class="form-text text-muted">I won't spam you, promise.</small>

      <br>

      <%= f.label :"Enter your message", class: 'col-form-label' %> <br>
      <%= f.text_area :message, placeholder: "Your message",
                      class: "form-control", as: :text %>
      <br>

      <div class="hidden">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, hint: "Leave this field blank" %>
      </div>
      <br>

      <%= f.submit :"Send", class: 'btn btn-primary' %> <br>

    <% end %>
  </fieldset>
</div>
