<%= form_with model: post do |f| %>

  <div class="form-inputs">
    <%= f.text_field :title, class: 'form-control string', required: true %>
    <%= f.label :thumbnail, class: 'form-control' %>
    <%= f.file_field :thumbnail, required: true %>
    <%= f.label :banner, class: 'form-control' %>
    <%= f.file_field :banner, required: true %>
    <%= f.rich_text_area :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
