<div class="container">
  <div class="row">
    <div class="digg_pagination">
      <%= will_paginate(@posts, :container => false) %>
    </div>
  </div>


  <% @posts.each do |post| %>
    <div class="row">
      <div class="card mb-3">
        <img class="card-img-top" src="<%= url_for post.optimized_image(post.thumbnail, 586, 180) %>" alt="Blog Post Image Card"/>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to post.title, post %>
          </h5>
          <p class="card-text">
            <%= post.body.to_plain_text.truncate_words(50) %>
          </p>
          <p class="card-text">
            <small class="text-muted">
              <%= post.updated_at.strftime("%A, %B %e, %Y") %> by
              <%= post.user.username %> | <%= pluralize(post.views, "View") %> |
              <% @num_comments = post.comments.count %>
              <% post.comments.each do |comment| %>
                <% @num_comments += comment.comments.count %>
              <% end %>

              <%= pluralize(@num_comments, "Comment") %> |
              <% if current_user && (current_user.admin || current_user == post.user) %>
                <%= link_to "Delete", post, method: :delete %>
              <% end %>
            </small>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>