// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment-container {
  -webkit-box-shadow: 6px 9px 17px 6px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 6px 9px 17px 6px rgba(0, 0, 0, 0.66);
  box-shadow: 6px 9px 17px 6px rgba(0, 0, 0, 0.66);
  margin: 1em;
  padding-bottom: 1em;
}

.inner-comment-container {
  margin: 1em;
  padding-bottom: 1em;
}

.comment-avatar {
  border-radius: 100%;
  margin: 0.5em;
  max-width: 90%;
  max-height: 90%;
}

.comment-timestamp {
  font-size: 0.9em;
  color: rgb(100, 100, 100);
  text-align: center;
  width: 100%;
}

.comment-username {
  font-size: 1.5em;
  color: rgb(25, 25, 25);
  font-weight: 625;
}

.comment-number {
  font-size: 1.5em;
  color: rgb(100, 100, 100);
  font-weight: 300;
}

.comment-body {
  text-align: justify;
}

.comment-form-nested {
  margin-right: 2em;
}

.comment-login-prompt {
  margin: 1em;
  padding-bottom: 1em;
  text-align: center;
}