<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Project</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<%= render 'layouts/navbar' %>
<div class="container">
  <br><br>

  <%= yield %>
</div>

<div class="container">
  <footer class="footer">
    <small>
      © 2019 <a href="http://www.wtfpl.net/">WTFPL</a> – Do What the Fuck You Want to Public License.
    </small>
  </footer>
</div>


</body>
</html>
